<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Average Value For N</p>
              <p class="card-title">{{average1}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Average Value For  P</p>
              <p class="card-title">{{average2}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Average Value For K</p>
              <p class="card-title">{{average3}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-right:10px">
  <div class="col-md-2">
    <mat-form-field appearance="fill">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <button mat-flat-button color="primary" style="height:52.75px;" (click)="filterChartsData()">
      Update charts</button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h5 class="card-title">Nitrogen Evolution</h5>
      </div>
      <div class="card-body" *ngIf="isDataLoaded">
        <ejs-chart #chartN id="chart-container" [primaryXAxis]='primaryXAxis' [zoomSettings]='zoom' [legendSettings]='legend'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Area' xName='x' yName='y' name='Product X' [border]='border' [animation]='animation' opacity=0.3></e-series>
        </e-series-collection>
    </ejs-chart>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Phosphorus Evolution</h5>
      </div>
      <div class="card-body">

      <ejs-chart #chartP *ngIf="isDataLoaded"  id="chart-container2" [primaryXAxis]='primaryXAxis' [zoomSettings]='zoom' [legendSettings]='legend'>
        <e-series-collection>
            <e-series [dataSource]='chartDataP' type='Area' xName='x' yName='y' name='Product X' [border]='border' [animation]='animation' opacity=0.3></e-series>
        </e-series-collection>
    </ejs-chart>
      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h5 class="card-title">Potassium Evolution</h5>
      </div>
      <div class="card-body">
 
        <ejs-chart #chartK *ngIf="isDataLoaded"  id="chart-container3" [primaryXAxis]='primaryXAxis' [zoomSettings]='zoom' [legendSettings]='legend'>
          <e-series-collection>
              <e-series [dataSource]='chartDataK' type='Area' xName='x' yName='y' name='Product X' [border]='border' [animation]='animation' opacity=0.3></e-series>
          </e-series-collection>
      </ejs-chart>
      </div>

    </div>
  </div>
</div>