<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogToConsole="true"
      internalLogFile="c:\temp\internal-nlog.txt"
      throwConfigExceptions="false"
       >
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets >
		<target name="logfile" xsi:type="File" filename="Logs\\SoilDataManagement\\${date:universalTime=true:format=dd MM yyyy}.txt" 
				layout="[${longdate}][${logger}][${level}] -> ${message}${onexception: -> Exception\\:${exception:format=tostring}}">

		</target>
		<target name="logconsole"
				type="Console"
				layout="${date:format=yyyy-MM-dd} ${time} [ ${level:uppercase=true} ${message} ${exception:format=tostring}">
		</target>
	</targets>
	<rules>
		<logger name="*" minLevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>